<div class="main-content">
  <div class="terms-container">
      <h1>Terminos y condiciones</h1>
      <div class="readable">
          <div class="centered title-container">
              <h2>CheapTrip</h2>
          </div>
          <h3>1. Quienes somos?</h3>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam eligendi doloribus sit? Numquam,
              quibusdam velit molestiae praesentium placeat nesciunt asperiores nulla amet quasi itaque. Veniam
              officia aperiam et qui?
          </p>
          <h3>2. Cómo contactarnos</h3>
          <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, quasi impedit similique
              vitae dolore esse consequuntur obcaecati ut. Totam architecto ab rerum dolores eum accusantium
              provident inventore quibusdam quisquam soluta.
          </p>
          <h3>3. Tu privacidad y datos personales</h3>
          <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, quasi impedit similique
              vitae dolore esse consequuntur obcaecati ut. Totam architecto ab rerum dolores eum accusantium
              provident inventore quibusdam quisquam soluta.
          </p>

          <h3>4. Información clave</h3>
          <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea provident blanditiis, accusantium id
              totam assumenda eum reiciendis eveniet consequuntur impedit unde nam a nesciunt suscipit iusto
              exercitationem voluptatum autem dicta?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque suscipit ullam quis aliquid qui.
              Nostrum expedita soluta omnis obcaecati, consequatur repellat aspernatur alias facilis autem
              quaerat! Quam fugiat commodi minima.
          </p>
          <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae vitae aperiam pariatur veniam
              animi quos! Autem veritatis dolore vero aperiam velit voluptate nostrum, at animi voluptatibus
              repellat necessitatibus, ducimus doloremque.
          </p>
          <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis repellat consequuntur magni
              beatae inventore distinctio earum assumenda, eveniet nobis, iusto obcaecati a quod iste doloremque
              molestiae voluptates cumque expedita quibusdam? Lorem ipsum dolor sit, amet consectetur adipisicing
              elit. Animi, quod fuga? Mollitia porro dicta ipsa beatae commodi quasi reiciendis, laudantium ipsum
              animi nisi, dignissimos aut labore maiores adipisci esse fugiat. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Maiores molestiae, ad aliquid optio dolor assumenda quibusdam
              inventore deserunt culpa corporis, recusandae nisi quae mollitia quisquam atque? Magnam maxime quam
              adipisci!
          </p>

      </div>
  </div>
</div>
