<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado de Alojamientos</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
            <link rel="stylesheet" href="css/styles.css">
    </head>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <body>
        <div class="container">
            <br>
            <div class="row">
                <h1 class="heading1">Alojamientos</h1>
            </div>
            <div class="row mt-4">
                <div class="d-flex">
                    <div>
                        Mostrar:
                        <select name="registers" id="registers">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">
                                <div>Id</div>
                            <th scope="col">
                                <div>Nombre</div>
                            </th>
                            <th scope="col">
                                <div>Dirección</div>            
                            </th>
                            <th scope="col">
                                <div>Categoría</div>
                            </th>
                            <th scope="col">
                                <div>Latitud</div>
                            </th>
                            <th scope="col">
                                <div>Longitud</div>
                            </th>
                            <th scope="col">
                                <div>Valoración</div>
                            </th>
                            <th scope="col">
                                <div>Ciudad</div>
                            </th>
                            <th scope="col">
                                <div>Rasgos</div>
                            </th>
                            <th scope="col">
                                <div>Acciones</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Hotel 4 Maric Blanc</td>
                            <td>C\ Gran Sebastián 32</td>
                            <td>Hotel</td>
                            <td>87° 39' 19.2024</td>
                            <td>41° 56' 54.3732” N</td>
                            <td>8.5</td>
                            <td>Lisboa</td>
                            <td>Montaña, Baño, Bañera, Calefacción</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button type="button" class="btn btn-warning  btn-sm">
                                    <i class="bi bi-eye-slash"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Eliminar Registro?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        ¿Estas seguro que quieres borrar el registro, se borrará definiticamente?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger">Eliminar registro</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <div>
                        <button type="button" class="btn btn-primary"><a href="#">Agregar Alojamiento</a></button>
                    </div>
                    <ul class="pagination">
                        <li class="page-item text-secondary">
                            <a class="page-link text-secondary">Anterior</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link text-secondary" href="#">Siguiente</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </body>
</html>