<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="termsofuse.css">
    <title>Document</title>
</head>

<body>
    <div class="main-content">
        <div class="terms-container">
            <h1>Uso de cookies</h1>
            <div class="readable">
                <div class="centered title-container">
                    <h2>CheapTrip</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam eligendi doloribus sit? Numquam,
                    quibusdam velit molestiae praesentium placeat nesciunt asperiores nulla amet quasi itaque. Veniam
                    officia aperiam et qui?
                </p>
                <h3>¿Qué son las cookies, los píxeles y el almacenamiento local?</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, quasi impedit similique
                    vitae dolore esse consequuntur obcaecati ut. Totam architecto ab rerum dolores eum accusantium
                    provident inventore quibusdam quisquam soluta.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, quasi impedit similique
                    vitae dolore esse consequuntur obcaecati ut. Totam architecto ab rerum dolores eum accusantium
                    provident inventore quibusdam quisquam soluta.
                </p>

                <h3>¿Por qué nuestros servicios usan estas tecnologías?</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea provident blanditiis, accusantium id
                    totam assumenda eum reiciendis eveniet consequuntur impedit unde nam a nesciunt suscipit iusto
                    exercitationem voluptatum autem dicta?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque suscipit ullam quis aliquid qui.
                    Nostrum expedita soluta omnis obcaecati, consequatur repellat aspernatur alias facilis autem
                    quaerat! Quam fugiat commodi minima.
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae vitae aperiam pariatur veniam
                    animi quos! Autem veritatis dolore vero aperiam velit voluptate nostrum, at animi voluptatibus
                    repellat necessitatibus, ducimus doloremque.
                </p>

            </div>
        </div>
    </div>
</body>

</html>