div, h2 {

  background: linear-gradient(to right, #EE566F, #FEB36F);

}

.col-4, .accordion, .accordion-item, .accordion-header, .accordion-button {

  background: linear-gradient(to right, #EE566F, #FEB36F);

}

.accordion-button {
  color: white;
  border: 0px;
}


