<div class="container">
  <div class="card card-container mt-4 p-4">
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email"  [(ngModel)]="form.email" required #email="ngModel">
        <div class="mt-2 alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
          Es obligatorio poner el correo electronico!
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password"  [(ngModel)]="form.password" required minlength="4" #password="ngModel">
        <div class="mt-2 alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
          Es obligatorio poner la contraseña!
          </div>
      </div><br>
      <div class="form-group">
        <button class="btn btn-primary">Login</button>
      </div>
      <div class="form-group">
        <div class="mt-2 alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
          Error de inicio de sesion...
          Revisa los campos e inténtalo de nuevo
        </div>
      </div>
    </form>

    <div class="mt-2 alert alert-success" *ngIf="isLoggedIn">
      Welcome!!
      <button type="submit" class="btn btn-danger" (click)="logout()">Logout</button>
    </div>

  </div>
</div>
