<app-navbar></app-navbar>
<div class="group-title-container">
  <div class="container">
    <h1>Hotel 5* en Lisboa (falta foto arriba reloj o barra de cuanto queda)</h1>
    <div class="d-flex">
      <div
        class="btn btn-share mt-md-5"
        data-toggle="modal"
        data-target="#shareModal"
      >
        <i class="ci ci-share ci-line-height"></i>
      </div>
      <a class="btn btn-primary" data-scrollto-container=".group-subchollos"
        >Reservar</a
      >
    </div>
  </div>
</div>
<div class="container side-collapse-container">
  <div id="main_content" class="row row-default flex-column-reverse-sm">
    <div
      class="central_content content-group col-md-7"
      data-central-content="content"
    >
      <div class="hotel-summary-container group-module-container mb-5 pt-3">
        <h2 class="group-module-title mb-3">¿Dónde te alojarás?</h2>
        <div
          class="hotel-summary centered-flex flex-wrap"
          data-action="showHotelModal"
          data-id="1968"
        >
          <div class="summary-name-container">
            <span class="summary-name"
              >Hotel Pestana CR7</span
            >
            <span class="summary-stars-keys inline-flex">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
            <div class="summary-address color-secondary-medium">
              Rua das Portas,50-52, Lisboa
            </div>
          </div>
          <div class="hotel-rating-container">
            <div
              class="rating-content rounded-container-secondary-lighter width-max-content centered-flex"
              data-entity="ratingContainer"
            >
              <span class="rating-value bold">8.8</span>
              <span class="rating-text underline">Ver 276 opiniones</span>
            </div>
          </div>
          <div
            class="rounded-container-secondary-lighter hidden-xs full-width mb-4"
            data-action="showMapModal"
            data-id="1968"
            data-latitude="41.6384"
            data-longitude="2.73207"
            data-shared-modal="true"
          >
            <div class="summary-map-lg">
              <div class="centered-justify-flex">
                <div class="map-marker centered-justify-flex width-max-content">
                  <i class="ci ci-map-icon ci-2x color-main mr-2"></i>
                  <span class="map-marker-text">Mapa</span>
                </div>
              </div>
            </div>
          </div>

          <div class="summary-map">
            <div class="visible-xs">
              <div
                class="summary-map-content rounded-container-secondary-lighter width-max-content centered-flex"
                data-action="showMapModal"
                data-id="1968"
                data-latitude="41.6384"
                data-longitude="2.73207"
                data-shared-modal="true"
              >
                Mapa
                <div class="summary-map-image ml-2 centered-justify-flex">
                  <i class="ci ci-map-icon ci-2x color-main"></i>
                </div>
              </div>
            </div>
          </div>
          <span class="summary-more-info color-main bold pr-2">
            Más sobre el alojamiento
          </span>
        </div>
      </div>

      <div
        class="panel-group accordion-hotels"
        role="tablist"
        aria-multiselectable="true"
        data-container="hotel-info"
        data-hotel-id=""
      >
        <div class="rounded-large bg-white panel-small panel-default border-0">
          <div
            id="groupContent20932"
            class="container-info-group"
            role="tabpanel"
            aria-labelledby="headingTwo"
          >
            <div class="info-group-chollo">
              <div class="info-include-not-include">
                <h2 class="pb-3 m-0 no-bold">
                  Lo que debes saber sobre este chollo
                </h2>
                <div class="info-chollo-inc">
                  <h3 class="text-h3 m-0">Este chollo incluye</h3>
                  <ul class="no-margin pl-4 pt-3">
                    <li>
                      Alojamiento en el Hotel Sumus Monteplaya 4* superior
                      situado en Malgrat de Mar (Costa de Barcelona - Maresme).
                    </li>
                    <li>
                      Disponible en régimen de Media pensión o Pensión completa
                    </li>
                    <li>
                      Consumición a escoger entre: agua, vino, refresco o
                      cerveza.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="bg-white pt-5">
                <h2 class="mt-0 pt-6 mb-4">
                  Notas importantes sobre este chollo
                </h2>
                <ul>
                  <div id="viaje" class="list-group list-group-small m-0">
                    <li>
                      <b>Fechas disponibles para viajar:</b> hasta el 21 de
                      octubre.
                    </li>
                    <li>
                      ¿Sabías qué? Los alojamientos establecen sus tarifas en
                      función de las fechas y es posible que en algunos períodos
                      este sea más económico y en otros más elevado que el que
                      aparece en nuestra página principal. Selecciona el número
                      de noches que quieres viajar y podrás ver el detalle de
                      los precios para cada fecha.
                    </li>
                  </div>
                </ul>
                &nbsp;
                <ul>
                  <li>
                    <strong>¡Sábados temáticos!</strong> Todos los sábados a
                    partir del 3 de septiembre podrás disfrutar de lo siguiente:
                    <ul>
                      <li>
                        <strong>Degustación de quesos</strong> en el bar del
                        hotel a partir de las 18h
                      </li>
                      <li><strong>Cena temática</strong></li>
                      <li><strong>Música en vivo</strong> por la noche</li>
                    </ul>
                  </li>
                </ul>
                &nbsp;

                <ul>
                  <li>
                    Si reservas en régimen de Media pensión o Pensión completa,
                    tendrás
                    <strong
                      >1 consumición a escoger entre&nbsp;agua, vino, refresco o
                      cerveza</strong
                    >.

                    <ul>
                      <li>
                        En Media pensión, podrás elegir tu consumición para la
                        cena.
                      </li>
                      <li>
                        En Pensión completa, podrás elegir una consumición en la
                        comida y otra en la cena.
                      </li>
                    </ul>
                  </li>
                </ul>
                &nbsp;<br />
                <br />
                &nbsp;
                <hr />
                <div style="text-align: justify">
                  <h3>
                    <br />
                    ¿Qué significa Hotel Adults Only?
                  </h3>
                  &nbsp;

                  <ul>
                    <li>
                      <strong>Hotel recomendado para adultos: </strong
                      >este&nbsp;alojamiento está especialmente recomendado para
                      mayores de 16 años.
                    </li>
                  </ul>
                  &nbsp;

                  <ul>
                    <li>
                      <strong
                        >El hotel no aceptará reservas que incluyan menores de
                        17&nbsp;años.&nbsp;</strong
                      >
                    </li>
                  </ul>
                  &nbsp;

                  <ul>
                    <li>
                      Es muy importante que&nbsp;tengas&nbsp;en cuenta
                      que<strong
                        >&nbsp;NO&nbsp;se puede reservar con niños.</strong
                      >
                      En&nbsp;caso de hacerlo,&nbsp;no podrás hacer uso de los
                      servicios contratados.&nbsp;
                    </li>
                  </ul>

                  <p>
                    &nbsp;&nbsp;<br />
                    <br />
                    &nbsp;
                  </p>

                  <ul></ul>

                  <hr />
                  <h3>
                    <br />
                    El Viaje
                  </h3>
                </div>

                <p dir="ltr">&nbsp;</p>

                <ul dir="ltr">
                  <li>
                    Malgrat de Mar está a solo&nbsp;60 kilómetros de distancia
                    de Barcelona y, se encuentra, en realidad, a medio camino de
                    esta gran ciudad y Girona.
                  </li>
                </ul>
                &nbsp;

                <ul dir="ltr">
                  <li>
                    Malgrat de Mar tiene la particularidad de estar en el delta
                    de la desembocadura del Río Tordera, por lo que se conjugan
                    las azuladas aguas del Mediterráneo, por un lado, y por el
                    otro, las aguas dulces del Tordera.
                  </li>
                </ul>

                <p dir="ltr">&nbsp;</p>

                <ul dir="ltr">
                  <li>
                    Además de la atractiva costa, Malgrat de Mar tiene mucha
                    riqueza histórica y arquitectónica en su territorio.
                  </li>
                </ul>
                &nbsp;

                <ul dir="ltr">
                  <li>
                    ¿Te encantan las alturas?&nbsp;Entonces no te pierdas el
                    Turó d'en Serra: una de las zonas más elevadas de toda la
                    región, aunque de fácil acceso, ya sea en automóvil o a pie.
                    Desde aquí podrás tomar las mejores panorámicas tanto de la
                    ciudad en sí misma, como de la costa y del Mar Mediterráneo.
                  </li>
                </ul>
                &nbsp;

                <ul dir="ltr">
                  <li style="text-align: justify">
                    Asimismo, otro de los distintivos de Malgrat de Mar es su
                    tranquilidad: de ahí que también se considere un destino
                    turístico recomendable no sólo para quiénes busquen de un
                    lugar tranquilo y agradable, sino también para las familias.
                  </li>
                </ul>

                <div style="text-align: justify">
                  <br />
                  <br />
                  &nbsp;
                </div>

                <hr />
                <h3 style="text-align: justify">
                  <br />
                  Descuentos para niños y condiciones para individuales
                </h3>
                &nbsp;

                <ul>
                  <li>
                    <strong
                      >Este hotel es ADULTS ONLY&nbsp;(solo&nbsp;para adultos),
                      por lo que no aceptan&nbsp;reservas con niños.</strong
                    >&nbsp;&nbsp;
                  </li>
                </ul>
                &nbsp;

                <ul>
                  <li>
                    <strong>El suplemento de habitación individual&nbsp;</strong
                    >lo verás reflejado durante el proceso de reserva, es de 35€
                    por persona y noche aproximadamente.&nbsp;
                  </li>
                </ul>
                <br />
                <br />
                &nbsp;
                <hr class="hr-7" />
                <h2 class="no-bold mt-6 mb-4">Condiciones para mascotas</h2>
                <div data-entity="conditions">
                  <div class="mb-2" data-entity="pets">
                    Te informamos que este alojamiento no admite mascotas.
                  </div>
                </div>
                <div class="mb-2">
                  <hr class="hr-7" />
                  <h2 class="mt-6 mb-4">Tasa turística</h2>
                  <p class="mt-1">
                    ¡Importante! La tasa turística no se encuentra incluida en
                    el precio final de la reserva, es obligatorio abonarla en
                    recepción el día de llegada. Menores de 16 años no pagan la
                    tasa.
                  </p>
                  <p>
                    Valor de la tasa turística en hotel de 4* es de
                    <strong>1,32€</strong> por persona y noche.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
