<app-navbar></app-navbar>
<div class="group-title-container">
  <div class="center">
    <p>
      <img
        class="img-fluid"
        src="https://images.unsplash.com/photo-1588535684923-900727736ac0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
        alt="card image"
      />
    </p>

    <div class="container">
      <h1>Hotel 5 * en Lisboa</h1>

      <button type="button" class="btn btn-outline-dark">
        Reservar Chollo
      </button>
    </div>

    <div class="hotel-summary-container group-module-container mb-5 pt-3">
      <h2 class="group-module-title mb-3">¿Dónde te alojarás?</h2>
      <div
        class="hotel-summary centered-flex flex-wrap"
        data-action="showHotelModal"
        data-id="1968"
      >
        <div class="summary-name-container">
          <span class="summary-name">Hotel Pestana CR7</span>
          <span class="summary-stars-keys inline-flex">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
          <div class="summary-address color-secondary-medium">
            Rua das Portas,50-52, Lisboa
          </div>
        </div>
        <div class="hotel-rating-container">
          <div
            class="rating-content rounded-container-secondary-lighter width-max-content centered-flex"
            data-entity="ratingContainer"
          >
            <span class="rating-value bold">8.8</span>
            <span class="rating-text underline">Ver 276 opiniones</span>
          </div>
        </div>
      </div>
    </div>

    <div class="margin">
      <app-desplegableschollo></app-desplegableschollo>
    </div>
  </div>
  <app-footer></app-footer>
</div>
