.img-fluid {
  border-radius: 10px;
}

.main-content {
  min-height: 100vh;
  margin-bottom: 5vh;
}

.summary-name-container {
  font-size: 17px;
}

.summary-address {
  font-size: 17px;
}

.rating-value, .rating-text {
  font-size: 17px;
}
