<div>
  <h2>Filtros</h2>

  <div class="row">
    <h3 id="icheck-bootstrap">Por precio máximo</h3>
    <label for="customRange2" class="form-label">Example range</label>
    <input type="range" class="form-range" min="0" max="500" id="customRange2">
  </div>

  <div class="row">
    <h3 id="icheck-bootstrap">Por categoría</h3>
    <div class="col-md-2 col-sm-4 col-xs-6 demo-col">
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Hotel</label>
      </div>
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Hostal</label>
      </div>
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Apartamento</label>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 id="icheck-bootstrap">Por categoría</h3>
    <div class="col-md-2 col-sm-4 col-xs-6 demo-col">
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Hotel</label>
      </div>
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Hostal</label>
      </div>
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Apartamento</label>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 id="icheck-bootstrap">Por ciudad</h3>
    <div class="col-md-2 col-sm-4 col-xs-6 demo-col">
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Lisboa</label>
      </div>
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Gante</label>
      </div>
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Madrid</label>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 id="icheck-bootstrap">Por categoría</h3>
    <div class="col-md-2 col-sm-4 col-xs-6 demo-col">
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Hotel</label>
      </div>
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Hostal</label>
      </div>
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Apartamento</label>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 id="icheck-bootstrap">Por categoría</h3>
    <div class="col-md-2 col-sm-4 col-xs-6 demo-col">
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Hotel</label>
      </div>
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Hostal</label>
      </div>
      <div class="icheck-success">
        <input type="checkbox"  id="success" />
        <label for="success">Apartmaento</label>
      </div>
    </div>
  </div>
</div>
