.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: rgb(218, 214, 214);
}

.nav-link {
color: white;
}

.nav-link:hover {
color: rgb(218, 214, 214);
}

/* .nav-link:visited {
color: rgb(196, 195, 195);
} */
