<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
  <div class="mainflip">
    <div class="frontside">
      <div class="card">
        <div class="card-body text-center">
          <p>
            <img
              class="img-fluid"
              src="https://images.unsplash.com/photo-1588535684923-900727736ac0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt="card image"
            />
          </p>
          <h4 class="card-title">Sunlimetech</h4>
          <p class="card-text">
            This is basic card with image on top, title, description and button.
          </p>
          <button type="button" class="btn btn-outline-dark">Ver más</button>
        </div>
      </div>
    </div>
    <div class="backside">
      <div class="card">
        <div class="card-body text-center mt-4">
          <h4 class="card-title">Sunlimetech</h4>
          <p class="card-text">
            This is basic card with image on top, title, description and
            button.This is basic card with image on top, title, description and
            button.This is basic card with image on top, title, description and
            button.
          </p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <button type="button" class="btn btn-outline-dark">Ir al chollo</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
