<app-admin-nav></app-admin-nav>
<div class="container">
  <br>
  <br>
  <br>
  <div class="row">
    <h1 class="heading1">Rasgos</h1>
  </div>
  <a class=" btn btn-primary text-light" routerLink="/site-admin/features"  [queryParams]="{lastPageActual: lastPage, lastItemsViewed: lastItemsViewed }"><i class="bi bi-caret-left"></i></a>
  <form class="row g-3 border border-dark rounded-2 p-3" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

      <div class="col">
      <label for="ICCityName" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="ICCityName" required [(ngModel)]="feature.name" value="{{feature.name}}"required [(ngModel)]="feature.name" name="name" required #name="ngModel">
      <div class="mt-2 alert alert-danger" role="alert" *ngIf="name.errors && f.submitted">
        ¡Se requiere el nombre!
      </div>
      </div>
        <div class="row mt-4">
          <div class="d-flex justify-content-between">
              <div>
                  <button type="submit" class="btn btn-success" (click)="onSubmit()">Actualizar</button>
              </div>
              <div>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                  Eliminar
              </button>
            </div>
          </div>
        </div>
  </form>
  <div class="mt-2 alert alert-success" *ngIf="itemUpdated">
    Rasgo Actualizado correctamente!!
  </div>
</div>
      <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">¿Eliminar Registro?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              ¿Estas seguro que quieres borrar el registro, se borrará definiticamente?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger"  data-bs-dismiss="modal"  (click)="deleteFeature()">Eliminar registro</button>
              </div>
          </div>
      </div>
    </div>

