<div
  class="d-flex flex-md-column flex-row flex-nowrap bg-light align-items-left sticky-top"
>
  <span class="ms-1 d-none d-md-inline d-block mt-4 ps-2">
    <h2 id="filter-title">Filtros</h2>
  </span>
  <ul
    class="nav nav-pills nav-flush flex-md-column flex-row flex-nowrap mb-auto mx-auto text-start align-items-start"
  >
    <li class="nav-item d-grid">
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#theme-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-tags fs-1"></i
        ><span class="ms-1 d-none d-md-inline">Temáticos</span>
      </button>
      <div class="collapse" id="theme-collapse">
        <ul
          class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-start"
        >
          <li class="form-check" *ngFor="let feature of features">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              {{ feature.name }}
            </label>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#city-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-geo-alt fs-1"></i
        ><span class="ms-1 d-none d-md-inline">Ciudades</span>
      </button>
      <div class="collapse" id="city-collapse">
        <ul
          class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-start"
        >
          <li class="form-check" *ngFor="let city of cities">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              {{ city.name }}
            </label>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#category-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-star fs-1"></i
        ><span class="ms-1 d-none d-md-inline">Categoría de alojamiento</span>
      </button>
      <div class="collapse" id="category-collapse">
        <ul
          class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-start"
        >
          <li class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </label>
          </li>
          <li class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </label>
          </li>
          <li class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </label>
          </li>
          <li class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </label>
          </li>
          <li class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Apartamentos y cámpings
            </label>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#score-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-trophy fs-1"></i
        ><span class="ms-1 d-none d-md-inline">Valoración mínima</span>
      </button>
      <div class="collapse" id="score-collapse">
        <label for="valRange" class="form-label">Example range</label>
        <input type="range" class="form-range" min="0" max="10" id="valRange" />
      </div>
    </li>
    <li>
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#price-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-coin fs-1"></i
        ><span class="ms-1 d-none d-md-inline">Precio máximo</span>
      </button>
      <div class="collapse" id="price-collapse">
        <label for="valRange" class="form-label">Example range</label>
        <input
          type="range"
          class="form-range"
          min="15"
          max="800"
          id="valRange"
        />
      </div>
    </li>
  </ul>
</div>
