<app-admin-nav></app-admin-nav>
<div class="container">
  <br>
  <br>
  <br>
  <div class="row">
    <h1 class="heading1">Alojamientos</h1>
  </div>
  <a class=" btn btn-primary text-light" routerLink="/site-admin/accommodations" [queryParams]="{lastPageActual: lastPage, lastItemsViewed: lastItemsViewed }" ><i class="bi bi-caret-left"></i></a>
  <form class="row g-3 border border-dark rounded-2 p-3"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

      <div class="col">
      <label for="ICAccomodationName" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="ICAccomodationName" required [(ngModel)]="accommodation.name" name="name" required #name="ngModel">
      <div class="mt-2 alert alert-danger" role="alert" *ngIf="name.errors && f.submitted">
        ¡Se requiere el nombre!
      </div>
      <div class="col">
        <label for="ICAccommodationAddress" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="ICAccommodationAddress" required [(ngModel)]="accommodation.address" name="address" required #address="ngModel">
        <div class="mt-2 alert alert-danger" role="alert" *ngIf="address.errors && f.submitted">
          ¡Se requiere la dirección!
        </div>
        </div>
        <div class="col-12">
        <label for="ICAccommodationCategory" class="form-label">Categoría</label>
        <input type="text" class="form-control" id="ICAccommodationCategory"required [(ngModel)]="accommodation.category" name="category" required #category="ngModel">
        <div class="mt-2 alert alert-danger" role="alert" *ngIf="category.errors && f.submitted">
          ¡Se requiere la categoría!
        </div>
        </div>
        <div class="col">
        <label for="ICAccommodationLatitude" class="form-label">Latitud</label>
        <input type="text" class="form-control" id="ICAccommodationLatitude" required [(ngModel)]="accommodation.latitude" name="latitude" required #latitude="ngModel">
        <div class="mt-2 alert alert-danger" role="alert" *ngIf="latitude.errors && f.submitted">
          ¡Se requiere la latitud!
        </div>
        </div>
        <div class="col">
            <label for="ICAccommodationLength" class="form-label">Longitud</label>
            <input type="text" class="form-control" id="ICAccommodationLength" required [(ngModel)]="accommodation.longitude" name="longitude" required #longitude="ngModel">
            <div class="mt-2 alert alert-danger" role="alert" *ngIf="longitude.errors && f.submitted">
              ¡Se requiere la longitud!
            </div>
            </div>
          <div class="col">
            <label for="ICAccommodationRating" class="form-label">Valoración</label>
            <input type="text" class="form-control" id="ICAccommodationRating" required [(ngModel)]="accommodation.rating" name="rating" required #rating="ngModel">
            <div class="mt-2 alert alert-danger" role="alert" *ngIf="rating.errors && f.submitted">
              ¡Se requiere la valoración!
            </div>
        </div>
        <div class="col-12">
            <label for="ICAccommodationCity" class="form-label">Ciudad</label>
            <select class="form-select" id="ICAccommodationCity" [(ngModel)]="accommodation.city!.id" name="city_id" required #city_id="ngModel" >
              <option  *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
          </select>
          <div class="mt-2 alert alert-danger" role="alert" *ngIf="city_id.errors && f.submitted">
            ¡Se requiere Ciudad!
          </div>
         </div>
         <div class="col-12">
            <label for="ICAccommodationFeatures" class="form-label">Rasgos</label>
            <select class="form-select" id="ICAccommodationCity" multiple>
              <option *ngFor="let feature of features" value="{{feature.id}}">{{feature.name}}</option>
          </select>
         </div>
      </div>
      <div class="col-12">
      <button type="submit" class="btn btn-primary">Crear</button>
      </div>
  </form>
  <div class="mt-2 alert alert-success" *ngIf="itemAdded">
    Alojamiento añadido correctamente!!
  </div>
</div>
