<nav class="navbar-expand-lg p-3">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a class="navbar-brand" href="#">
        <img
          id="logo"
          class="img-fluid"
          src="../../../../assets/images/logoname1no-marg.png"
          alt=""
        />
      </a>
      <button
        id="btn-menu"
        class="col navbar-toggler text-end"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarOps"
        aria-controls="navbarOps"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span><i class="bi bi-list"></i></span>
      </button>
      <div id="navbarOps" class="collapse navbar-collapse">
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li>
            <a href="#" class="nav-link px-2 text-white" routerLink="/bargains"
              >Inicio</a
            >
          </li>
          <li>
            <a
              href="#"
              class="nav-link px-2 text-white"
              routerLink="/bargains/favorites"
              *ngIf="isLoggedIn"
              >Chollos favoritos</a
            >
          </li>
          <li>
            <a
              href="#"
              class="nav-link px-2 text-white"
              routerLink="/bargains/expirating-soon"
              >Expiran pronto</a
            >
          </li>
        </ul>
        <div class="text-center dropdown" *ngIf="!isLoggedIn">
          <button
            id="btn-login"
            type="button"
            class="btn btn-light"
            routerLink="/login"
          >
            Login
          </button>
        </div>
        <div class="text-center dropdown" *ngIf="isLoggedIn">
          <button
            id="btn-profile"
            type="button"
            class="btn dropdown-toggle btn-light"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle"></i> Mi Cuenta
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#" routerLink="/profile">Perfil</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="logout()">Log out</a>
            </li>
            <div class="dropdown-divider" *ngIf="showAdminBoard"></div>
            <li>
              <a
                class="dropdown-item"
                href="#"
                routerLink="/site-admin/home"
                *ngIf="showAdminBoard"
                >Administrador</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
