<div class="container">
  <div class="row">
      <div class="col-md-offset-3 col-md-6">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                          <a class="first" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Descripción
                              <span> </span>
                          </a>
                      </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                          <p>Este hotel es de la compañía CR7 y cuenta con:
                              <li>Piscina y sauna</li>
                              <li>Zona de juegos</li>
                              <li>Gimnasio altamente equipado</li>
                          </p>
                      </div>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Vuelos
                              <span> </span>
                          </a>
                      </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                          <p><li>Fecha y hora de salida:</li>
                              <li>Fecha y hora de llegada:</li>
                              <li>Compañía: </li>
                          </p>
                      </div>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                          <a class="collapsed last" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Más información:
                              <span> </span>
                          </a>
                      </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                          <p>El fin de semana incluye un desayuno gratuito y por x€ más una hora en el spa con masaje incluido</p>
                      </div>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                          <a class="collapsed last" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Más información:
                              <span> </span>
                          </a>
                      </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                          <p>El fin de semana incluye un desayuno gratuito y por x€ más una hora en el spa con masaje incluido</p>
                      </div>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                      <h4 class="panel-title">
                          <a class="collapsed last" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Más información:
                              <span> </span>
                          </a>
                      </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                      <div class="panel-body">
                          <p>El fin de semana incluye un desayuno gratuito y por x€ más una hora en el spa con masaje incluido</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


