<div class="container-fluid">
  <div class="row">
    <div class="col-lg-auto bg-light sticky-top">
      <div
  class="d-flex flex-lg-column flex-row flex-nowrap bg-light align-items-left sticky-top"
>
  <span class="ms-1 d-none d-lg-inline d-block mt-4 ps-2">
    <h2 id="filter-title">Filtros</h2>
  </span>
  <ul
    class="nav nav-pills nav-flush flex-lg-column flex-row flex-nowrap mb-auto mx-auto text-start align-items-start"
  >
    <li>
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#city-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-geo-alt fs-1"></i
        ><span class="ms-1 d-none d-lg-inline">Ciudades</span>
      </button>
      <div class="collapse" id="city-collapse">
        <ul
          class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-start"
        >
          <li class="form-radio" *ngFor="let city of cities">
            <input
              class="form-radio-input"
              type="radio"
              value="{{city.id}}"
              id="flexRadioDefault"
              name="city"
              (change)="citySelectedChange($event)"
              [checked]="city.id == citySelected.id"
            />
            <label class="form-radio-label" for="flexRadioDefault">
              {{ city.name }}
            </label>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#category-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-star fs-1"></i
        ><span class="ms-1 d-none d-lg-inline">Categoría de alojamiento</span>
      </button>
      <div class="collapse" id="category-collapse">
        <ul
          class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-start"
        >
          <li class="form-check">
            <input
              class="form-radio-input"
              type="radio"
              value="Hotel5"
              id="flexRadioDefault"
              name="category"
              (change)="categorySelectedChange($event)"
            />
            <label class="form-radio-label" for="flexRadioDefault">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </label>
          </li>
          <li class="form-check">
            <input
              class="form-radio-input"
              type="radio"
              value="Hotel4"
              id="flexRadioDefault"
              name="category"
              (change)="categorySelectedChange($event)"
            />
            <label class="form-check-label" for="flexRadioDefault">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </label>
          </li>
          <li class="form-check">
            <input
              class="form-radio-input"
              type="radio"
              value="Hotel3"
              id="flexRadioDefault"
              name="category"
              (change)="categorySelectedChange($event)"
            />
            <label class="form-check-label" for="flexRadioDefault">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </label>
          </li>
          <li class="form-check">
            <input
              class="form-radio-input"
              type="radio"
              value="Hotel2"
              id="flexRadioDefault"
              name="category"
              (change)="categorySelectedChange($event)"
            />
            <label class="form-check-label" for="flexRadioDefault">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </label>
          </li>
          <li class="form-check">
            <input
              class="form-radio-input"
              type="radio"
              value="Otros"
              id="flexRadioDefault"
              name="category"
              (change)="categorySelectedChange($event)"
            />
            <label class="form-check-label" for="flexRadioDefault">
              Apartamentos y cámpings
            </label>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#price-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-coin fs-1"></i
        ><span class="ms-1 d-none d-lg-inline">Precio máximo</span>
      </button>
      <div class="collapse" id="price-collapse">
        <label for="valRange" class="form-label">Precio máximo: {{ priceRange }} €</label>
        <input
          type="range"
          class="form-range width-100"
          min="15"
          max="800"
          id="valRange"
          value="500"
          (input)="priceChanged($event)"
        />
      </div>
    </li>
    <li class="button-filter">
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 btn-primary button-filter"
        (click)="applyFilters()"
      >
       <i class="bi bi-search fs-3"></i><span class="ms-1 d-none d-lg-inline">Aplicar</span>
      </button>
    </li>
    <li class="button-filter">
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 btn-danger button-filter"
        (click)="reloadPage()"
      >
      <i class="bi bi-x-circle fs-3"></i><span class="ms-1 d-none d-lg-inline">Quitar Filtros</span>
      <span class="ms-1 d-none d-lg-inline">Quitar Filtros</span>
      </button>
    </li>
  </ul>
</div>
    </div>
    <h1 *ngIf="isEmpty" class="text-center">No se encotraron chollos</h1>
    <div class="col-md p-3 min-vh-100">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <app-bargain
          class="col mt-4"
          *ngFor="let bargain of bargains"
          [bargain]="bargain"
        ></app-bargain>
      </div>
    </div>
  </div>
</div>
