<div class="group-title-container container main-content">
  <div class="center">
    <div class="row row-cols-1 row-cols-md-2 mt-5">
      <div class="col">
        <p>
          <img class="img-fluid" src="{{ bargain.image }}" alt="card image" />
        </p>
      </div>
      <div class="col text-start px-3">
        <h1>{{ bargain.title }}</h1>
        <button type="button" class="btn btn-outline-dark">
          Reservar Chollo
        </button>

        <div class="hotel-summary-container group-module-container mb-5 pt-3 ps-2">
          <h2 class="group-module-title mb-3">¿Dónde te alojarás?</h2>
          <div
            class="hotel-summary centered-flex flex-wrap"
            data-action="showHotelModal"
            data-id="1968"
          >
            <div class="summary-name-container">
              <span class="summary-name">{{
                bargain.accommodation?.name
              }}</span>
              <span class="summary-stars-keys inline-flex">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <div class="summary-address color-secondary-medium">
                {{ bargain.accommodation?.address }}
              </div>
            </div>
            <div class="hotel-rating-container">
              <div
                class="rating-content rounded-container-secondary-lighter width-max-content centered-flex"
                data-entity="ratingContainer"
              >
                <span class="rating-value bold">{{
                  bargain.accommodation?.rating
                }}</span>
                <br />
                <span class="rating-text underline">{{ bargain.price }} €</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-bargain-accordion [bargain]="bargain"></app-bargain-accordion>
</div>
