<div class="container">
  <div class="main-content">
    <div class="terms-container">
      <h1>Uso de cookies</h1>
      <div class="readable">
        <div class="centered title-container">
          <h2>CheapTrip</h2>
        </div>
        <p>Nuestras Cookies:</p>
        <h3>¿Qué son las cookies, los píxeles y el almacenamiento local?</h3>
        <p>
          Las <strong>cookies</strong> son pequeños archivos que se colocan en
          tu equipo cuando navegas por la web o usas una aplicación web. Usamos
          cookies para administrar nuestros servicios, identificar cómo los
          usuarios hacen uso de nuestros servicios y saber cómo hacer que
          funcionen mejor, entre otras finalidades. <br /><br />
          Los <strong>píxeles</strong> son pequeños fragmentos de código
          insertados en una página web, en una aplicación web o en un correo
          electrónico. Utilizamos píxeles, algunos de los cuales los ofrecemos a
          anunciantes para que los coloquen en sus dominios web, para saber si
          has interactuado con contenidos específicos de la web o de correos
          electrónicos, al igual que hacen otros muchos servicios. Esto nos
          permite evaluar y mejorar nuestros servicios, así como personalizar tu
          experiencia, incluidos los anuncios que ves. <br /><br />
          Utilizamos el <strong>almacenamiento local</strong> para guardar
          información en tu equipo o dispositivo móvil. Usamos los datos del
          almacenamiento local para habilitar la navegación web, conservar las
          preferencias del reproductor de vídeo, personalizar lo que te
          mostramos en función de tus interacciones anteriores con nuestros
          servicios, recordar tus preferencias y valorar la efectividad de los
          anuncios. También podremos utilizar el almacenamiento local en otras
          páginas web, cuando sea necesario para ofrecerte determinadas
          funciones, para obtener información sobre tus visitas a esas páginas.
        </p>

        <h3>¿Por qué nuestros servicios usan estas tecnologías?</h3>
        <p>
          Las cookies, los píxeles y el almacenamiento local sirven para
          administrar nuestras operaciones y darles apoyo, así como para
          garantizarte una experiencia mejorada. Se usan en las siguientes
          categorías: <br />
        </p>

        <ul>
          <li><strong>Autenticación y seguridad</strong></li>
          <br />
          <li><strong>Funcionalidad</strong></li>
          <br />
          <li><strong>Preferencias de usuario</strong></li>
          <br />
          <li><strong>Estadísticas</strong></li>
          <br />
          <li><strong>Investigación y desarrollo</strong></li>
          <br />
          <li><strong>Contenido personalizado</strong></li>
          <br />
          <li><strong>Publicidad</strong></li>
          <br />
          <li><strong>Marketing</strong></li>
          <br />
          <li><strong>Personalización en distintos dispositivos</strong></li>
        </ul>
        <br />
        <h3>
          <strong>
            Dentro de cada una de estas categorías, las cookies, los píxeles y
            el almacenamiento local nos permiten:</strong
          >
        </h3>
        <h3><strong>Autenticación y seguridad</strong></h3>
        <p>
          Autenticar tu acceso a Cheaptrip para mostrarte contenido relacionado.
          <br />
          También permiten evitar que personas no autorizadas accedan a tu
          cuenta.<br />
          Utilizamos estas tecnologías para:
        </p>
        <ul>
          <li>Iniciar tu sesión en Cheaptrip y nuestros servicios.</li>
          <br />
          <li>Ayudar a proteger tu seguridad y la de nuestros servicios.</li>
          <br />
          <li>Permitirte que veas contenido de distribución limitada.</li>
          <br />
          <li>
            Detectar y combatir el spam, las infracciones y otras actividades
            que incumplan las Reglas de Cheaptrip.
          </li>
        </ul>

          <h3> <strong>Funcionalidad</strong></h3>
          <p>
          Enviar mensajes de error, permitirte cambiar de una cuenta a otra,
          coordinar nuestros servicios en diferentes pestañas en un navegador y
          ofrecer ciertas funciones en sitios web de colaboradores. <br /><br />
          <strong>Preferencias de usuario</strong> <br />
          Recordar información sobre tu navegador y tus preferencias.
          <br /></p>
          <h3><strong>Estadísticas</strong> </h3>

        <ul>
          <li>
            Ayudarnos a mejorar y comprender cómo los usuarios utilizan nuestros
            servicios, incluidos los botones y las herramientas.
          </li>
          <br />
          <li>
            Optimizar tu experiencia al identificar cómo interactúas con
            nuestros servicios, como, por ejemplo, en qué momento y con qué
            frecuencia los utilizas y qué enlaces abres y desde dónde (para
            ello, podremos usar Google Analytics).
          </li>
          <br />
          <li>
            Contabilizar el número de personas que han visto cierto contenido de
            Cheaptrip, como Chollos insertados, botones o cronologías en otros
            sitios web.
          </li>
        </ul>
        <h3><strong>Investigación y desarrollo</strong></h3>
        <p>
        <ul>
          <li>
            Recopilar información sobre el uso que haces de nuestros servicios,
            incluido el rendimiento de estos. Esto nos permite detectar
            problemas, determinar dónde podemos mejorar o desarrollar nuevos
            productos o servicios.
          </li>
          <br />
          <li>
            Probar actualizaciones de los servicios de Cheaptrip, además de
            desarrollar nuevas opciones, funcionalidades y servicios.
          </li>
        </ul>

          <h3><strong>Contenido personalizado</strong></h3>
          <p>
          Personalizar nuestros servicios en áreas como tendencias, historias,
          anuncios y sugerencias de personas que seguir con contenido más
          relevante. También utilizamos: <br />
        </p>
        <ul>
          <li>
            El almacenamiento local para indicarnos qué partes de tu cronología
            de Cheaptrip has visto ya para que podamos mostrarte nuevos
            contenidos.
          </li>
          <br />
          <li>
            Las cookies para recomendarte a quién podrías seguir según tus
            visitas a sitios web con los servicios integrados de Cheaptrip.
          </li>
        </ul>

          <h3><strong>Publicidad</strong></h3>
          <p>
          Personalizar anuncios y medir su rendimiento, como mostrarte anuncios
          y evaluar su efectividad en función de tus visitas a los sitios web de
          nuestros socios publicitarios. Esto permite que los anunciantes puedan
          llegar a ti a través de los anuncios y contenidos de alta calidad que
          puedan ser más interesantes para ti. También hacemos lo siguiente:<br />
        </p>
        <ul>
          <li>
            Ofrecer anuncios, medir su rendimiento y hacerlos más relevantes
            para ti en función de criterios como tu actividad en Cheaptrip y
            visitas a los sitios web de nuestros socios publicitarios.
          </li>
          <br />
          <li>
            Trabajar con socios publicitarios externos, incluido Google, para
            promocionar nuestros servicios.
          </li>
        </ul>

          <h3><strong>Marketing</strong></h3> <p>
          Hacer llegar nuestras campañas de correo electrónico y marketing web y
          conocer la efectividad de nuestras estrategias de marketing.<br /><br />

          <h3><strong>Personalización en diferentes dispositivos</strong></h3>
          <p>
          Conocer qué dispositivos has usado para que podamos personalizar tu
          experiencia en todos tus dispositivos.<br /><br />
          Ten en cuenta que si alguna vez inicias sesión en Cheaptrip con tu
          dispositivo, vincularemos y seguiremos vinculando ese dispositivo a tu
          cuenta de Cheaptrip. Ello quiere decir que, hayas iniciado sesión o
          no, recibiremos información sobre tus dispositivos cuando un socio
          comparta dicha información, cuando visites
          https://deploy.d3w3e4fbeadyvx.amplifyapp.com/bargains o sitios web de
          terceros que integran servicios de Cheaptrip o cuando visites el sitio
          web o la aplicación móvil de un anunciante de Cheaptrip. Lo más
          habitual es que las direcciones IP y la hora en que recibimos los
          datos se utilicen para vincular ese dispositivo específico contigo.
          <br /><br />
          Para obtener más información acerca de los dispositivos y los
          navegadores web asociados a tu cuenta de Cheaptrip, echa un vistazo a
          Tus datos de Cheaptrip cuando hayas iniciado sesión en tu cuenta y
          hayas cerrado sesión.
        </p>
      </div>
    </div>
  </div>
</div>
