<app-admin-nav></app-admin-nav>
<div class="container">
  <br>
  <div class="row">
      <h1 class="heading1">Rasgos</h1>
  </div>
  <div class="row mt-4" *ngIf="features!=null; else wait">
      <div class="d-flex">
          <div>
              Mostrar:
              <select name="registers" id="registers" [(ngModel)]="ItemsViewed">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
              </select>
          </div>
      </div>
  </div>
  <br>
  <div class="row" *ngIf="features!=null;">
      <table class="table table-bordered table-hover">
          <thead class="table-dark">
              <tr>
                  <th scope="col">
                      <div>Id</div>
                  <th scope="col">
                      <div>Nombre</div>
                  </th>
                  <th scope="col">
                      <div>Acciones</div>
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let feature of features | paginate: {itemsPerPage: ItemsViewed,currentPage: pageActual}; let i = index">
                  <th scope="row">{{feature.id}}</th>
                  <td>{{feature.name}}</td>
                  <td>
                      <a class="btn btn-success btn-sm" routerLink="/site-admin/features/update/show" [queryParams]="{id: feature.id,lastPage: pageActual, lastItemsViewed:ItemsViewed}">
                        <i class="bi bi-pencil-square" ></i>
                      </a>
                      &nbsp;
                      <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="MaybeDeleteThisFeature(feature.id)">
                          <i class="bi bi-trash"></i>
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>
      <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">¿Eliminar Registro?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              ¿Estas seguro que quieres borrar el registro, se borrará definiticamente?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" (click)="deleteFeature()">Eliminar registro</button>
              </div>
          </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="d-flex justify-content-between">
          <div>
              <a class="btn btn-primary text-light" routerLink="/site-admin/features/add"  [queryParams]="{lastPage: pageActual, lastItemsViewed:ItemsViewed}">Agregar Rasgo</a>
          </div>
          <div *ngIf="features!=null;">

            <pagination-controls class="my-pagination"
            (pageChange)="pageActual = $event"
            (maxSize)="5"
            previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>

        </div>
      </div>

  </div>
<ng-template #wait>Esperando los datos, esto puede tardar un par de segundos...</ng-template>

