<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Perfil
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://images.unsplash.com/photo-1588535684923-900727736ac0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
    />

    <h4 class="name">John Smith</h4>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="mydata">
      <mat-icon>description</mat-icon>
      <span>Mis datos</span>
    </button>
    <button mat-button class="menu-button" routerLink="booked">
      <mat-icon>book</mat-icon>
      <span>Mis reservas</span>
    </button>
    <button mat-button class="menu-button" routerLink="bookmarked">
      <mat-icon>bookmarked</mat-icon>
      <span>Mis favoritos</span>
    </button>

    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
