<div class="cards">
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image img-fluid" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn" routerLink="/bargain-info">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          {{bargain.title}}
          <small>En {{accommodation.name}}</small>
      </h2>
    </div>

      </div>
    </div>

